<div>
<article role="article">

  <header>
    <h1 class="entry-title" style="font-family:Helvetica Neue', sans-serif;">About</h1>
  </header>
  
  
<p>Welcome! I'm Yunrui Zhang, Software Engineer from San Francisco. </p>

<p> Right now I'm am passioate about Web Development, especially Ruby on Rails. But anything in the Computer Science field is my interest. I program and teach people Python, PHP, Java, C/C++, and cs conceptes in general.  </p>

<p>This is the place I share my programming experiences, and maybe my philosophies once in a while...</p>

  
</article>

</div>