<% content_for :title, "About" %>

<article role="article">
	<header><h1 class="entry-title" style="font-family:Helvetica Neue', sans-serif;">About</h1></header>
  	<p>Welcome! I'm yunrui, software engineer from San Francisco. </p>
	<p>I speak C/C++, Objective-C/Swift, Java, Javascript, Python, Ruby, and Scheme.</p>
	<p>Ruby on Rails and the Web are my passion at the moment. And passion is my talent, my tool, and my motivation to always stay on top of the bubbling world of programming</p>
	<p>When I'm not coding, I like to think about how the particles, the sub-atomic particles, and the sub-sub-atomic particle that formed the beautiful universe. </p>
</article>

