<% content_for :title, "Projects" %>

<div>
<article role="article">
  
  <header>
    <p class="entry-title">Thank you for visiting, but this page is not ready yet :(</p>
  </header>
</article>
</div>