<% content_for :title, "Projects" %>

<div>
<article role="article">
  
  <header>
    <p class="entry-title">(Thank you for visiting,this page is still under construction)</p>
  </header>
</article>


<article role="article">
  <h3><a href='https://itunes.apple.com/us/app/swifttransit/id907377479?mt=8'>SwiftTransit</a></h3>
  <img src="/images/bunny.png"/ style="width:250px;">
</article>

</div>
